{% extends 'layout.html'%} 
{% block body%}
<style>
*{
  font-size:12px;
}

tr:hover{
    background-color:#428BCA;
    color:white;
    
}
</style>
<div class="container">
        <form class = "form-inline" >
            <br>
            <br>
            <br>
            <h4 >Documents</h4> &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp
            <button class="btn btn-primary" name = "prevDayBtn"><i class="icon-backward"></i> Previous Day</button>
            <input type='text' READONLY name = 'pageDate' value = '2013-05-18' class="form-control"/>
            <button class="btn btn-primary" name = "nextDayBtn" >Next Day <i class="icon-forward"></i></button>
            
            <br>
            <br>
            <hr style="border-color:blue;">
            <table class = "table table-striped" style="font-size:10">
            <tr>
            <th>DOC (ID)</th><th>Date</th><th>Uploaded By:</th><th>Department</th><th>Title</th><th>Actions</th>
            </tr>

            <tr>
            <td><span class="glyphicon glyphicon-folder-open"></span>&nbsp 1</td>
            <td>10-12-2012</td>
            <td>danny</td>
            <td>ICT</td>
            <td>AMENDED ASSETS</td>
            <td>
            <div style="float:right;">
            <a href="#" style="text-decoration:none;">Upload &nbsp <span class="glyphicon glyphicon-upload" style="color:orange;"></span> &nbsp  &nbsp</a>
             <a href="#" style="text-decoration:none;">View &nbsp  <span class="glyphicon glyphicon-eye-open" style="color:#1FB062;"></span> &nbsp  &nbsp</a>
             <a href="#" style="text-decoration:none;">Share &nbsp  <span class="glyphicon glyphicon-share" style="color:blue;"></span> &nbsp  &nbsp</a>
             <a href="#" style="text-decoration:none;">Download &nbsp <span class="glyphicon glyphicon-save" style="color:#EB3C48;"></span> &nbsp  &nbsp</a>
              <a href="#" style="text-decoration:none;">Delete &nbsp <span class="glyphicon glyphicon-trash" style="color:#EB3C48;"></span> &nbsp  &nbsp</a>
              </div>
            </td>
            </tr>

             <tr>
           <td><span class="glyphicon glyphicon-folder-open"></span>&nbsp 1</td>
            <td>10-12-2012</td>
            <td>danny</td>
            <td>ICT</td>
            <td>AMENDED ASSETS</td>
            <td>
            <div style="float:right;">
            <a href="#" style="text-decoration:none;">Upload &nbsp <span class="glyphicon glyphicon-upload" style="color:orange;"></span> &nbsp  &nbsp</a>
             <a href="#" style="text-decoration:none;">View &nbsp  <span class="glyphicon glyphicon-eye-open" style="color:#1FB062;"></span> &nbsp  &nbsp</a>
             <a href="#" style="text-decoration:none;">Share &nbsp  <span class="glyphicon glyphicon-share" style="color:blue;"></span> &nbsp  &nbsp</a>
             <a href="#" style="text-decoration:none;">Download &nbsp <span class="glyphicon glyphicon-save" style="color:#EB3C48;"></span> &nbsp  &nbsp</a>
              <a href="#" style="text-decoration:none;">Delete &nbsp <span class="glyphicon glyphicon-trash" style="color:#EB3C48;"></span> &nbsp  &nbsp</a>
              </div>
            </td>
            </tr>

             <tr>
            <td><span class="glyphicon glyphicon-folder-open"></span>&nbsp 1</td>
            <td>10-12-2012</td>
            <td>danny</td>
            <td>ICT</td>
            <td>AMENDED ASSETS</td>
            <td>
            <div style="float:right;">
            <a href="#" style="text-decoration:none;">Upload &nbsp <span class="glyphicon glyphicon-upload" style="color:orange;"></span> &nbsp  &nbsp</a>
             <a href="#" style="text-decoration:none;">View &nbsp  <span class="glyphicon glyphicon-eye-open" style="color:#1FB062;"></span> &nbsp  &nbsp</a>
             <a href="#" style="text-decoration:none;">Share &nbsp  <span class="glyphicon glyphicon-share" style="color:blue;"></span> &nbsp  &nbsp</a>
             <a href="#" style="text-decoration:none;">Download &nbsp <span class="glyphicon glyphicon-save" style="color:#EB3C48;"></span> &nbsp  &nbsp</a>
              <a href="#" style="text-decoration:none;">Delete &nbsp <span class="glyphicon glyphicon-trash" style="color:#EB3C48;"></span> &nbsp  &nbsp</a>
              </div>
            </td>
            </tr>
            
            </table>
        </form>
    </div>

{% endblock%}