{% extends 'layout.html'%} 
{% block body%}
<style>
*{
  font-size:12px;
}
</style>

<hr>
<div class="container" style="border:1px;">
  <div class="row" style="">
      <div class="col-md-3">
      <ul class="list-group list-group-flush">
  <li class="list-group-item"><h4 style="font-wieght:bold; color:blue;">MY DOCS APP</h4></li>
  <li class="list-group-item">Document Share </li>
  <li class="list-group-item">Article Store & Share</li>
  <li class="list-group-item">Password store</li>
  <li class="list-group-item">Users </li>
  <li class="list-group-item">About Us</li>
  <li class="list-group-item">Help</li>
  <li class="list-group-item">Feed back</li>
</ul>
      </div>
      <div class="col-md-9" style = "">
      document management system
      </div>
  </div>
</div>

 
 {% endblock%}